.link{
    text-decoration: none;
}

.list{
    list-style: none;
}

.logo {
    color: #2196F3;
    font-family: 'Raleway', sans-serif;
}

.type {
    color: #000000;
    font-family: 'Raleway', sans-serif;
}

.header-tools{
    color: black;
}

.header-tools:hover,
.header-tools:focus {
    color: #2196F3;
}

.contact-tools{
    color: #757575;
}

.contact-tools:hover,
.contact-tools:focus{
   color: #2196F3;
}

.title{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.type2{
    color: #ffffff;
}

.footer-map{
    color: #ffffff;
}

.footer-contact{
    color: silver;
}

.fonts{
    font-family: 'Roboto', sans-serif;
}

.fafafa{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
}

.order{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}

.cscscs{
    color: #212121;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
}

.ksksks{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #757575;
}

.lilili{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #000000;
}

.team{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.team-abs{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

.background{
    background-color: #2F303A;
}

.join{
    color: #ffffff;
}